
</div>
	<footer>
		{{ site.copyright }} 
  	</footer>
  
		<script type="text/javascript">
		if(window.innerWidth>767){
			$("article").children().eq(0).css("margin-right","60px");
		}
		if(window.innerWidth<=1024){
			$("nav").prepend("<p id='menuBtn'>MENU</p>");
		var dropdown = true;

		$("nav ul").slideUp(100);
		
		$("#menuBtn").css({
			display:"block",
			"font-size":"16px"
		})
		$("#menuBtn").on('click',function(){
			$("nav ul li").eq(0).css({
				// "margin-top":"20px",
			})
			if(dropdown){
				$("nav ul").slideDown(500);
				dropdown = false;
			}else{
				$("nav ul").slideUp(500);
				dropdown = true;
			}
		})
		}
		if(window.location.href.match(/(biography|bio)/)){
			if($("article div") && $("article figure")){
				$("article").prepend("<div id='text_container'></div>");
				$("#text_container").append($("article").children("div"))
			}
			$("#text_container").css({
				"display":"flex",
				"flex":"1"
			})
		}
		setTimeout(function(){
				$("article").css({
					opacity:1,
					"transition":"all 1s ease-in-out"
				})
				$("nav ul").css({
					opacity:1,
				})
		},200)
		
		
		if(window.location.href.match(/(main|contact|contacts)/)){
			if($("article div") && $("article figure")){
				$("article").append("<div id='text_container'></div>");
				$("#text_container").append($("article").children("div"))
			}
			$("#text_container").css({
				"display":"flex",
				"flex":"1"
			})
		}
			
		if(window.location.href.match(/(bio|biography)/)){
			$(".k-content img").css({
					"max-height":"700px",
					"min-height":"500px"
					// "max-heigth":"1000px",
					// "min-height":"520px"
			})
		}
		if(!window.location.href.match(/(main|biography|bio|contact|contacts)/)){
			$("#container").append("<div id='body_content'></div>");
			$("#body_content").append($("#container article"))
			
			$("#body_content").css({
				"flex-direction":"column",
				"align-items":"center",
				"word-break":"break-word",
				"display":"flex",
				"justify-content":"center",
				
			})
			$("article").css({
				"flex-direction":"column",
				"max-width":"600px",
				"justify-content":"center",
				
			})
			$("#body_content p").css({
				"width":"100%",
				"word-wrap":"break-word",
				"max-width":"100%"
			})
			$("#body_content header").css({
				"margin-right":"0px"
			})
				$(".k-content").css({
					display:"flex",
					flex:1,
					
				})
			if(window.innerWidth>1024){
				$(".k-content img").css({
					"max-height":"450px",
					"min-height":"320px"
					// "max-heigth":"1000px",
					// "min-height":"520px"
				})
			}else{
				$(".k-content img").css({
					"max-height":"450px",
					"min-height":"320px"
					// "max-heigth":"1000px",
					// "min-height":"320px"
				})
				$(".k-content").css({
					display:"flex",
					flex:1,
					"max-height":"450px",
					"min-height":"320px"
					// "max-heigth":"1000px",
					// "min-height":"320px"
				})
			}
			
		}

		var grid = $("#grid")
		

			grid.css("opacity",0)
		setTimeout(function(){
		
		
		grid.justifiedGallery({
				rowHeight:550,
				maxRowHeight:1200,
				margins:12,
				captions:false,
				cssAnimation: true,
				waitThumbnailsLoad:true,
		});
		grid.css("opacity",1)
		},1500)
		</script>
  	</body>
  </html>